<div>
  <div  class="login-container">
    <h2>Login using E-mail</h2>
    <form nz-form [formGroup]="emailForm" class="login-form" (ngSubmit)="submitEmailForm()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your email!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="email" placeholder="Email" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control style="width:300px;">

          <button nz-button class="login-form-button" [nzType]="'primary'">Log in</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
