
<div id="top">
  <h2>Contract Dealers</h2>
  <button *ngIf="isLoggedIn && !isWoreda"  nz-button nzType="primary" (click)="open()"><i nz-icon nzType="plus-circle" nzTheme="outline"></i>Add Dealer</button>
</div>
<div>
<div>

  <div style="display:flex;background:#fafafa;padding:40px;justify-content: space-between">
    <label for="name"></label>
    <input id="name" style="flex:0.4;" nz-input placeholder="Name" [(ngModel)]="nameFilter" />
    <input id="type" style="flex:0.4;" nz-input placeholder="Type" [(ngModel)]="typeFilter" />
    <button nz-button nzType="primary" (click)="filter()">Filter</button>
  </div>

</div>
<nz-table #basicTable [nzData]="['']">
  <thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Type</th>
    <th>Receipt</th>
    <th>Phone No.</th>
    <th>Actions</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let dealer of contractDealers">
    <td>{{dealer.name}}</td>
    <td>{{dealer.price}}</td>
    <td>{{dealer.type}}</td>
    <td>{{dealer.receipt}}</td>
    <td>{{dealer.phoneNo}}</td>



    <td>
      <a (click)="edit(dealer)">Edit </a>
      <nz-divider nzType="vertical"></nz-divider>
      <a (click)="showDeleteConfirm(dealer)">Delete</a>
    </td>
  </tr>
  </tbody>
</nz-table>
<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="true"
  [nzWidth]="720"
  [nzVisible]="visible"
  nzTitle="Create Contract Dealer"
  (nzOnClose)="close()">
  <form nz-form [formGroup]="createProviderForm">
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Contract Dealer Name</nz-form-label>
          <nz-form-control nzErrorTip="Dealer name is required">
            <input formControlName="name" nz-input placeholder="Please enter Contract Dealer name" />
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Type</nz-form-label>
          <nz-form-control  nzErrorTip="Type is required">
            <input formControlName="type" nz-input placeholder="Please enter dealer type" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Reciept</nz-form-label>
          <nz-form-control nzErrorTip="Receipt is required">
            <input formControlName="receipt" nz-input placeholder="Please enter receipt" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="8">

      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Phone Number</nz-form-label>
          <nz-form-control nzErrorTip="Phone Number is required">
            <input type="tel" pattern="[0-9]{10}" formControlName="phoneNo" nz-input placeholder="Please enter dealer phone number" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Price</nz-form-label>
          <nz-form-control nzErrorTip="Price Number is required">
            <input min="1" type="number"  formControlName="price" nz-input placeholder="Please enter price" />
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>

    <div class="footer">
      <button type="button" (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>Cancel</span></button>
      <button type="button" (click)="postDealer()" class="ant-btn ant-btn-primary"><span>Submit</span></button>
    </div>
  </form>
</nz-drawer>
<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="true"
  [nzWidth]="720"
  [nzVisible]="editVisible"
  nzTitle="Edit Company"
  (nzOnClose)="close()">
  <form nz-form [formGroup]="createProviderForm">
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Company Name</nz-form-label>
          <nz-form-control nzErrorTip="Company Name is required">
            <input [(ngModel)]="name" formControlName="name" nz-input placeholder="Please enter dealer name" />
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Type</nz-form-label>
          <nz-form-control  nzErrorTip="Type is required">
            <input [(ngModel)]="type" formControlName="type" nz-input placeholder="Please enter dealer type" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Receipt</nz-form-label>
          <nz-form-control nzErrorTip="Reciept is required">
            <input [(ngModel)]="receipt" formControlName="receipt" nz-input placeholder="Please enter if dealer has receipt" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="8">

      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Phone Number</nz-form-label>
          <nz-form-control nzErrorTip="Phone Number is required">
            <input type="tel" pattern="[0-9]{10}" [(ngModel)]="phoneNo" formControlName="phoneNo" nz-input placeholder="Please enter dealer phone number" />
          </nz-form-control>
        </nz-form-item>
      </div>


    </div>

    <div class="footer">
      <button type="button" (click)="closeEdit()" class="ant-btn" style="margin-right: 8px;"><span>Cancel</span></button>
      <button type="button" (click)="onUpdateDealer()" class="ant-btn ant-btn-primary"><span>Submit</span></button>
    </div>
  </form>
</nz-drawer>
