<h2>Bids</h2>
<div>

  <div style="display:flex;background:#fafafa;padding:40px;justify-content: space-between">
    <label for="name"></label>
    <input id="name" style="flex:0.4;" nz-input placeholder="Name" [(ngModel)]="value" />
    <button nz-button nzType="primary" >Filter</button>
    <button nz-button nzType="primary" (click)="showModal()" >Add New</button>

  </div>

</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="city">City</nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Please input your nickname!">
        <input nz-input formControlName="city" type="text" id="city">
      </nz-form-control>
    </nz-form-item >
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="email">Bid Security</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input formControlName="bidSecurity" type="number" id="bidSecurity">
      </nz-form-control>
    </nz-form-item ><nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="email">Grade</nz-form-label>
    <nz-form-control [nzSpan]="14" nzErrorTip="Please input your nickname!">
      <input nz-input formControlName="grade" type="number" id="grade">
    </nz-form-control>
  </nz-form-item >
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="type">Type</nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Please input your nickname!">
        <input nz-input formControlName="type" type="text" id="type">
      </nz-form-control>
    </nz-form-item >
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="email">Deadline</nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Please input your nickname!">
        <input nz-input formControlName="deadline" type="text" id="deadline">
      </nz-form-control>
    </nz-form-item >
    <nz-form-item >
      <nz-form-label [nzSpan]="6" nzFor="tel">Tel</nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Please input your nickname!">
        <input nz-input formControlName="tel" type="tel" id="tel">
      </nz-form-control>
    </nz-form-item >
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="title">Title</nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Please input your nickname!">
        <input nz-input formControlName="title"  type="title" id="title" >
      </nz-form-control>
    </nz-form-item >

    <nz-form-item>
      <nz-form-control>

        <!--<button nz-button class="login-form-button" [nzType]="'primary'">Log in</button>-->
      </nz-form-control>
    </nz-form-item>
  </form>
  <!--<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">-->


    <!--<nz-form-item nz-row class="register-area">-->
      <!--<nz-form-control [nzSpan]="14" [nzOffset]="6">-->
        <!--<button nz-button nzType="primary">Register</button>-->
      <!--</nz-form-control>-->
    <!--</nz-form-item>-->

  <!--</form>-->
</nz-modal>
<nz-table #basicTable [nzData]="dataSet">
  <thead>
  <tr>
    <th>Title</th>
    <th>Type</th>
    <th>City</th>
    <th>Tel</th>
    <th>Grade</th>
    <th>Deadline</th>
    <th>Bid Security</th>
    <th>Bid fee</th>
    <th>Bid Document</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let bid of bids">
    <td>{{bid.title}}</td>
    <td>{{bid.type}}</td>
    <td>{{bid.city}}</td>
    <td>{{bid.tel}}</td>
    <td>{{bid.grade}}</td>
    <td>{{bid.deadline}}</td>
    <td>{{bid.bidSecurity}}</td>
    <td>{{bid}}</td>
    <td><i nz-icon nzType="download" nzTheme="outline"></i><span>Download</span></td>
    <td>
      <a>Edit </a>
      <nz-divider nzType="vertical"></nz-divider>
      <a>Delete</a>
    </td>
  </tr>

  </tbody>
</nz-table>
<ng-template #mytmp>
  <p>Hola</p>
</ng-template>
