<div id="top">
  <h2>Woreda</h2>
  <button *ngIf="isLoggedIn"  nz-button nzType="primary" (click)="open()"><i nz-icon nzType="plus-circle" nzTheme="outline"></i>Woreda</button>
</div>
<div>

  <div style="display:flex;background:#fafafa;padding:40px;justify-content: space-between">

    <input id="experience" style="flex:0.4;" nz-input placeholder="Region" [(ngModel)]="regionFilter" />
    <input id="speciality" style="flex:0.4;" nz-input placeholder="Sub City" [(ngModel)]="subcityFilter" />
    <button nz-button nzType="primary" (click)="filter()">Filter</button>
  </div>

</div>
<nz-table #basicTable [nzData]="['']">
  <thead>
  <tr>
    <th>Woreda No</th>
    <th>Region</th>
    <th>Sub City</th>
    <th>Phone No.</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let woreda of woredas">
    <td>{{woreda.no}}</td>
    <td>{{woreda.region}}</td>
    <td>{{woreda.subcity}}</td>
    <td>{{woreda.phone}}</td>



    <td>
      <a (click)="edit(woreda)">Edit</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a (click)="showDeleteConfirm(woreda)">Delete</a>
    </td>
  </tr>
  </tbody>
</nz-table>
<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="true"
  [nzWidth]="720"
  [nzVisible]="visible"
  nzTitle="Create Woreda"
  (nzOnClose)="close()">
  <form nz-form [formGroup]="createProviderForm">
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Woreda No</nz-form-label>
          <nz-form-control nzErrorTip="A valid Woreda No is required">
            <input min="1" type="number" formControlName="no" nz-input placeholder="Please enter Woreda No" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Sub City</nz-form-label>
          <nz-form-control nzErrorTip="A valid Subcity is required">
            <input formControlName="subcity" nz-input placeholder="Please enter subcity" />
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Region</nz-form-label>
          <nz-form-control  nzErrorTip="Region is required">
            <input formControlName="region" nz-input placeholder="Please enter region" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Phone Number</nz-form-label>
          <nz-form-control nzErrorTip="A valid phone number is required">
            <input type="tel" pattern="[0-9]{10}" formControlName="phone" nz-input placeholder="Please enter phone number" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div class="footer">
      <button type="button" (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>Cancel</span></button>
      <button type="button" (click)="postWoreda()" class="ant-btn ant-btn-primary"><span>Submit</span></button>
    </div>
  </form>
</nz-drawer>
<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="true"
  [nzWidth]="720"
  [nzVisible]="editVisible"
  nzTitle="Edit Company"
  (nzOnClose)="close()">
  <form nz-form [formGroup]="createProviderForm">
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Woreda No</nz-form-label>
          <nz-form-control nzErrorTip="A valid Woreda No is required">
            <input min="1" type="number" [(ngModel)]="no" formControlName="no" nz-input placeholder="Please enter Woreda No" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Sub City</nz-form-label>
          <nz-form-control nzErrorTip="A valid Subcity is required">
            <input [(ngModel)]="subcity" formControlName="subcity" nz-input placeholder="Please enter subcity" />
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Region</nz-form-label>
          <nz-form-control  nzErrorTip="A valid Region is required">
            <input [(ngModel)]="region" formControlName="region" nz-input placeholder="Please enter region" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Phone Number</nz-form-label>
          <nz-form-control nzErrorTip="A valid Phone is required">
            <input type="tel" pattern="[0-9]{10}" [(ngModel)]="phone" formControlName="phone" nz-input placeholder="Please enter phone number" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div class="footer">
      <button type="button" (click)="closeEdit()" class="ant-btn" style="margin-right: 8px;"><span>Cancel</span></button>
      <button type="button" (click)="onUpdateWoreda()" class="ant-btn ant-btn-primary"><span>Submit</span></button>
    </div>

  </form>
</nz-drawer>
