#span-display-name{
  color:#eaeaea;
  margin:0px 10px;
}
#div-cards{
  display:flex;
  flex-wrap: wrap;

  grid-template-rows: repeat(3,1fr);
}
#div-professionals{
  display:flex;
  flex-wrap:wrap;

}
#div-professionals .items{
  display: flex;
  align-content: center;
  justify-items: center;
  flex-direction: column;
  margin:20px;
}
#div-professionals span{
  align-self: center;
}
#professional-name{
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}
#top{
  display:flex;
  justify-content: space-around;
}
